nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* .navbar{
    height: 80px!important; 
} */
html{
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }

.navbar-nav .nav-link {
    margin-right: 14px;
    margin-left: 14px;

}
.navbar-brand{
    padding-left: 80px !important;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar li a:hover{
    background-color:rgb(227, 230, 234);
    border-radius: 2px;
    color:rgb(255, 255, 255);
}
.navbar li a:active{
    background-color:rgba(235, 232, 132, 0.592);
    border-radius: 6px;
    color:rgb(0, 0, 0);
}
.navbar li{
    float:right;
    padding-top: 20px;
}
.navbar li a{
    color:#000;
    display:block;
    text-decoration: none;
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
}

p{
    color: grey;
}
.container{
    max-width: 1200px;
    margin-top: 110px;
    /* margin: auto; */
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 400px;
}
.img_one img{
    max-width: 100%;
    height: auto;
}
.container_one h1{
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    background: radial-gradient(white,rgb(197, 238, 230));
}
.centered{
    font-family: 'Permanent Marker', cursive;
    color: white;
    position: absolute;
    margin-top: -120px;
    margin-left: 70px;
    /* top: 43%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
}
.centered h1{
    font-weight:bold;
    font-size: 50px;
}
.container_2 img{
    border-radius: 20px;
}
.centered h3{
    font-size:large;
    font-family: 'Permanent Marker', cursive;
    margin-left: 170px;
}
.text-block h3{
    color:#da2745;
    background-color: aliceblue;
    border-radius: 30px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    text-shadow: 1px 1px 1px red, 2px 2px 1px red;
    font-weight: 900;
}
.col-5{
    display:flex;
}



.colb-5 img{
    max-width: 100px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.colb-5{
    flex:30%;
    padding: 5px;
}
.rowb{
    display: flex;
}
.small-containerb{
    text-align: center;
}
.col_t{
    border: 2px solid black;
    flex:30%;
    padding:35px;
    margin-left: 30px;
}
.row_t{
    display: flex;
}
.small_conatiner_t{
    max-width: 1000px;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.small_conatiner_t p{
    font-style: italic;
}
.col_t span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: larger;
}
.testimonial .col_t{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col_t:hover{
    transform: translateY(-10px);
}
.fa.fa-star{
    color: gold;
}
.fa.fa-star-half-o{
    color: gold;
}
.text-block-01{
    color: orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bookeve{
    margin-left: 200px;
    border: 2px solid darkblue;
    border-radius: 4px;
    text-align: center;
    width: 60%;
    
}

/* footer css */

